<footer class="fixed bottom-0 w-full bg-slate-200 dark:bg-slate-700 flex justify-center md:justify-between items-center p-2 h-10 ">    
    <div class="max-w-screen-xl w-4/5 flex flex-col md:flex-row items-center justify-between">
      <span class="text-xs text-sky-700 dark:text-white sm:text-center">
        © 2023 
        <a href="https://www.linkedin.com/in/christian-nicolas-burgos" target="_blank">WGNICO</a>. All Rights Reserved.
      </span>
      <div class="flex mt-2 md:mt-0 space-x-5 text-sky-700 dark:text-white">
        <a href="https://github.com/wgnico" target="_blank">
          <i class="devicon-github-original"></i>          
        </a>                
        <a href="http://linkedin.com/in/christian-nicolas-burgos/" target="_blank">
          <i class="devicon-linkedin-plain"></i>          
        </a>
      </div>
    </div>
  </footer>
