<!-- <footer class="fixed bottom-0 w-full bg-slate-200  flex justify-center md:justify-between items-center mt-2">    
    <div class="max-w-screen-xl w-4/5 items-center ">
        <div class="px-4 mx-1 md:py-4  bg-slate-200 md:flex md:items-center md:justify-between ">
            <span class="text-xs text-sky-700  sm:text-center">© 2023 <a href="https://www.linkedin.com/in/christian-nicolas-burgos" target="_blank">WGNICO</a>. All Rights Reserved.
            </span>
            <div class="flex md:mt-4 sm:justify-center mt-1 space-x-5 rtl:space-x-reverse text-sky-700">              
                  <a href="https://github.com/wgnico" target="_blank">                    
                      <i class="devicon-github-original "></i>          
                  </a>                
                  <a href="http://linkedin.com/in/christian-nicolas-burgos/" target="_blank" class="">                    
                  <i class="devicon-linkedin-plain "></i>          
                  </a>
            </div>
          </div>
      </div>
</footer> -->

<footer class="fixed bottom-0 w-full bg-slate-200 flex justify-center md:justify-between items-center p-2 h-10 ">    
    <div class="max-w-screen-xl w-4/5 flex flex-col md:flex-row items-center justify-between">
      <span class="text-xs text-sky-700 sm:text-center">
        © 2023 
        <a href="https://www.linkedin.com/in/christian-nicolas-burgos" target="_blank">WGNICO</a>. All Rights Reserved.
      </span>
      <div class="flex mt-2 md:mt-0 space-x-5 text-sky-700">
        <a href="https://github.com/wgnico" target="_blank">
          <i class="devicon-github-original"></i>          
        </a>                
        <a href="http://linkedin.com/in/christian-nicolas-burgos/" target="_blank">
          <i class="devicon-linkedin-plain"></i>          
        </a>
      </div>
    </div>
  </footer>
  <!-- <footer class="fixed bottom-0 w-full bg-gray-800  flex justify-center items-center">
    <div class="max-w-screen-xl w-4/5 items-center justify-center">
      <div class="px-4 py-6  bg-gray-800 md:flex md:items-center md:justify-between">
          <span class="text-xs text-gray-300 dark:text-gray-300 sm:text-center">© 2023 <a href="https://www.linkedin.com/in/christian-nicolas-burgos" target="_blank">WGNICO</a>. All Rights Reserved.
          </span>
          <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
              
                <a href="https://github.com/wgnico" target="_blank" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
                <a href="http://wgnico.com.ar/" target="_blank" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 0a10 10 0 1 0 10 10A10.009 10.009 0 0 0 10 0Zm6.613 4.614a8.523 8.523 0 0 1 1.93 5.32 20.094 20.094 0 0 0-5.949-.274c-.059-.149-.122-.292-.184-.441a23.879 23.879 0 0 0-.566-1.239 11.41 11.41 0 0 0 4.769-3.366ZM8 1.707a8.821 8.821 0 0 1 2-.238 8.5 8.5 0 0 1 5.664 2.152 9.608 9.608 0 0 1-4.476 3.087A45.758 45.758 0 0 0 8 1.707ZM1.642 8.262a8.57 8.57 0 0 1 4.73-5.981A53.998 53.998 0 0 1 9.54 7.222a32.078 32.078 0 0 1-7.9 1.04h.002Zm2.01 7.46a8.51 8.51 0 0 1-2.2-5.707v-.262a31.64 31.64 0 0 0 8.777-1.219c.243.477.477.964.692 1.449-.114.032-.227.067-.336.1a13.569 13.569 0 0 0-6.942 5.636l.009.003ZM10 18.556a8.508 8.508 0 0 1-5.243-1.8 11.717 11.717 0 0 1 6.7-5.332.509.509 0 0 1 .055-.02 35.65 35.65 0 0 1 1.819 6.476 8.476 8.476 0 0 1-3.331.676Zm4.772-1.462A37.232 37.232 0 0 0 13.113 11a12.513 12.513 0 0 1 5.321.364 8.56 8.56 0 0 1-3.66 5.73h-.002Z" clip-rule="evenodd"/>
                  </svg>
                    <span class="sr-only">Dribbble account</span>
                </a>
                <a href="http://linkedin.com/in/christian-nicolas-burgos/" target="_blank" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">                    
                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="#9ca3af">
                        <path d="M22.23 0H1.77C.8 0 0 .77 0 1.72v20.56C0 23.23.8 24 1.77 24h20.46c.98 0 1.77-.77 1.77-1.72V1.72C24 .77 23.2 0 22.23 0zM7.27 20.1H3.65V9.24h3.62V20.1zM5.47 7.76h-.03c-1.22 0-2-.83-2-1.87 0-1.06.8-1.87 2.05-1.87 1.24 0 2 .8 2.02 1.87 0 1.04-.78 1.87-2.05 1.87zM20.34 20.1h-3.63v-5.8c0-1.45-.52-2.45-1.83-2.45-1 0-1.6.67-1.87 1.32-.1.23-.11.55-.11.88v6.05H9.28s.05-9.82 0-10.84h3.63v1.54a3.6 3.6 0 0 1 3.26-1.8c2.39 0 4.18 1.56 4.18 4.89v6.21z"/></svg>
                </a>
          </div>
        </div>
    </div>
</footer> -->
