<div class="bg-slate-200 dark:bg-slate-700 my-4 shadow-2xl text-sky-700">
    <h2 class="font-bold font-serif text-2xl md:text-4xl text-center text-sky-700 dark:text-slate-300 pt-2">Tecnologias</h2>
    <h3 class="font-semibold text-1xl md:text-xl text-sky-600  dark:text-slate-400 text-center">Principales tecnlogias que manejo.</h3>
    <div class="flex overflow-hidden items-center space-x-16 py-3 ">        
        <ul class="flex space-x-16 animate-loop-scroll ">
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white ">
                <li class="flex flex-col items-center max-w-none ">
                    <i class="devicon-java-plain text-4xl"></i>
                    <span>Java</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none self-center">
                    <i class="devicon-spring-original text-4xl"></i>
                    <span>Spring</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-mysql-original text-4xl"></i>
                    <span>MySQL</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-amazonwebservices-plain-wordmark text-4xl"></i>
                    <span>AWS</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-angular-plain text-4xl"></i>
                    <span>Angular</span>
                </li>
            </figure>
            <figure class="rounded-full p-3 shadow-2xl bg-white w-20 dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-typescript-plain text-4xl"></i>
                    <span>TypeScript</span>
                </li>
            </figure>
            <figure class="rounded-full p-3 shadow-2xl bg-white w-20 dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-bash-plain text-4xl"></i>
                    <span>Bash</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-docker-plain text-4xl"></i>
                    <span>Docker</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-git-plain text-4xl"></i>
                    <span>Git</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-github-original text-4xl"></i>
                    <span>GitHub</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-jenkins-line text-4xl"></i>
                    <span>Jenkins</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">                        
                    <i class="devicon-tailwindcss-original text-4xl"></i>          
                    <span>Tailwindcss</span>
                </li>
            </figure>
        </ul>              
        <ul class="flex space-x-16 animate-loop-scroll text-sky-700" aria-hidden="true">
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none ">
                    <i class="devicon-java-plain text-4xl"></i>
                    <span>Java</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none self-center">
                    <i class="devicon-spring-original text-4xl"></i>
                    <span>Spring</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-mysql-original text-4xl"></i>
                    <span>MySQL</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-amazonwebservices-plain-wordmark text-4xl"></i>
                    <span>AWS</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-angular-plain text-4xl"></i>
                    <span>Angular</span>
                </li>
            </figure>
            <figure class="rounded-full p-3 shadow-2xl bg-white w-20 dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-typescript-plain text-4xl"></i>
                    <span>TypeScript</span>
                </li>
            </figure>
            <figure class="rounded-full p-3 shadow-2xl bg-white w-20 dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-bash-plain text-4xl"></i>
                    <span>Bash</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-docker-plain text-4xl"></i>
                    <span>Docker</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-git-plain text-4xl"></i>
                    <span>Git</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-github-original text-4xl"></i>
                    <span>GitHub</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">
                    <i class="devicon-jenkins-line text-4xl"></i>
                    <span>Jenkins</span>
                </li>
            </figure>
            <figure class="rounded-full w-20 p-3 shadow-2xl bg-white dark:bg-slate-400 dark:text-white">
                <li class="flex flex-col items-center max-w-none">                        
                    <i class="devicon-tailwindcss-original text-4xl"></i>          
                    <span>Tailwindcss</span>
                </li>
            </figure>
        </ul>            
</div>
</div>