<div class="container mx-auto relative">
    <div class="flex justify-center">
        <h1>Portfolio de Nicolas Burgos</h1>
    </div>
    <nz-divider></nz-divider>
    <figure class="lg:flex bg-slate-100 rounded-2xl p-8  shadow-2xl ">
        <img 
            src="../../../../assets/img/socrates.png" 
            alt="imagen representativa de un socrates progamador"
            class="w-96 rounded-full shadow-2xl bg-white p-1 mx-auto my-auto  ">
        <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
            <blockquote>
                <p class=" font-medium text-sky-700 text-wrap lg:text-lg">
                    Soy desarrollador Java, con formación en Alura y Platzi, dos plataformas líderes en el campo de la tecnología y la programación. He obtenido múltiples certificaciones que avalan mis conocimientos y competencias en Java SE, Spring Boot, MySQL, Angular, Jenkins, Docker y AWS. <br><br>

                    En mi actual rol, me encargo de la programación backend con Java y Spring, y del frontend con Angular, además de realizar tareas de DevOps en infraestructura AWS. He desarrollado aplicaciones robustas, escalables y seguras, utilizando tecnologías clave como Git, Jenkins y Docker. Me apasiona la programación y el aprendizaje constante, y estoy siempre al día con las últimas tendencias y mejores prácticas en el mundo del backend. Estoy emocionado por la oportunidad de contribuir a proyectos desafiantes y continuar creciendo como profesional en el mundo de la tecnología. Estoy abierto a nuevas oportunidades de colaboración y dispuesto a aportar mis habilidades y experiencia para ayudar a llevar los proyectos al siguiente nivel. Espero poder conectar contigo y explorar posibles sinergias.  
                </p>
            </blockquote>
        </div>
    </figure>    
    <nz-divider></nz-divider>    
    <div class="grid gap-4 grid-cols-1 grid-rows-3 sm:grid-cols-2 lg:grid-cols-3 mx-auto justify-items-center">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />                       
          </ng-template>    
          <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />                       
          </ng-template>    
          <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />                       
          </ng-template>    
          <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />                       
          </ng-template>    
          <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />                       
          </ng-template>    
          <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />                       
          </ng-template>    
          <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />                       
          </ng-template>    
          <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />                       
          </ng-template>    

    </div>
</div>

