<div class="container mx-auto">
    <div class="w-1/2 flex items-center">
        <img 
        src="../../../../assets/img/socrates.png" 
        alt="Logo Donde se ve a el Filosofo Socrates progamando y tomando un cafe haciendo referencia a JAVA" 
        class="mr-4">
        <h1 class="font-bold">Portfolio de Nicolas Burgos</h1>
    </div>
    <nz-divider></nz-divider>
    <div>
        <p>Soy desarrollador Java, con formación en Alura y Platzi, dos plataformas líderes en el campo de la tecnología y la programación. He obtenido múltiples certificaciones que avalan mis conocimientos y competencias en Java SE, Spring Boot, MySQL, Angular, Jenkins, Docker y AWS. <br><br>

            En mi actual rol, me encargo de la programación backend con Java y Spring, y del frontend con Angular, además de realizar tareas de DevOps en infraestructura AWS. He desarrollado aplicaciones robustas, escalables y seguras, utilizando tecnologías clave como Git, Jenkins y Docker. Me apasiona la programación y el aprendizaje constante, y estoy siempre al día con las últimas tendencias y mejores prácticas en el mundo del backend. Estoy emocionado por la oportunidad de contribuir a proyectos desafiantes y continuar creciendo como profesional en el mundo de la tecnología. Estoy abierto a nuevas oportunidades de colaboración y dispuesto a aportar mis habilidades y experiencia para ayudar a llevar los proyectos al siguiente nivel. Espero poder conectar contigo y explorar posibles sinergias.</p>

    </div>
    <img src="" alt="">
</div>